.accordion-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.accordion-title {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    padding: 10px;
}

.accordion-icon {
    float: right;
}

.accordion-content {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
}

.accordion-item :hover {
    background-color: #eee;
    border-radius: 5px;
}
