
body {
  font-family: 'Source Sans 3', sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  height: 130vh;
}

.contact {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  font-family: 'Source Sans 3', sans-serif;
}

.contact h2 {
  text-align: center;
  color: #007BFF;
  font-size: 28px;
  margin-bottom: 20px;
}

.disclaimer h2 {
  color: #cd4d44
}

.disclaimer strong {
  color: #007BFF
}

.disclaimer h3 {
  text-align: center;
  color: #cd4d44
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact form input,
.contact form textarea {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #007BFF;
  border-radius: 5px;
  font-size: 16px;
}

.contact form input:focus,
.contact form textarea:focus {
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}

.contact form button {
  background-color: #6699ff;;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.contact form button:hover {
  background-color: #0056b3;
}

.contact form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.status {
  margin-top: 10px;
  color: green;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .contact {
    max-width: 90%;
    margin: 20px auto;
    padding: 15px;
  }

  .contact h2 {
    font-size: 26px;
  }

  .contact form input,
  .contact form textarea {
    font-size: 15px;
  }

  .contact form button {
    font-size: 17px;
  }
}

@media (max-width: 992px) {
  .contact {
    max-width: 90%;
    margin: 15px auto;
    padding: 15px;
  }

  .contact h2 {
    font-size: 24px;
  }

  .contact form input,
  .contact form textarea {
    font-size: 14px;
    padding: 12px;
  }

  .contact form button {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .contact {
    max-width: 95%;
    margin: 10px auto;
    padding: 10px;
  }

  .contact h2 {
    font-size: 22px;
  }

  .contact form input,
  .contact form textarea {
    font-size: 13px;
    padding: 10px;
  }

  .contact form button {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .contact {
    max-width: 95%;
    margin: 5px auto;
    padding: 10px;
  }

  .contact h2 {
    font-size: 20px;
  }

  .contact form input,
  .contact form textarea {
    font-size: 12px;
    padding: 8px;
  }

  .contact form button {
    font-size: 14px;
  }
}
