.footer {
    background-color: #6699ff;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
}

.footer.hidden {
    transform: translateY(100%);
}

.footer p {
    margin: 0 10px; 
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 10px;
    }

    .footer p,
    .footer a {
        margin: 5px 0; 
    }
}

@media (max-width: 576px) {
    .footer {
        display: none; /* Hide footer on small devices */
    }

    .footer p,
    .footer a {
        font-size: 14px; 
        margin: 5px 0; 
    }
}
