@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  font-family: 'Source Sans 3', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.services {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9; 
}

.services h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: left;
}

.accordion-title {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  color: #3c75b4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.accordion-title:hover {
  background-color: #f0f0f0;
}

.accordion-icon {
  margin-left: 10px;
}

.accordion-content {
  text-align: left;
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #eee;
  transition: max-height 0.3s ease;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 15px;
}

ul li {
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
}

strong {
  color: #333;
}

.accordion-content strong {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.accordion-content p {
  color: #666;
}

.accordion-content ul li {
  color: #333;
}

.highlight {
  background-color: #e7f3ff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  display: inline-block;
}

.spacediv {
  height: 20vh;
  color: #f9f9f9;
  background-color: #f9f9f9;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .services h2 {
    font-size: 26px;
  }

  .accordion-title {
    font-size: 16px;
  }

  .accordion-content strong {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .services h2 {
    font-size: 24px;
  }

  .accordion-title {
    font-size: 16px;
    padding: 10px;
  }

  .accordion-content {
    padding: 10px;
  }

  ul {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .services h2 {
    font-size: 22px;
  }

  .accordion-title {
    font-size: 14px;
  }

  .accordion-content {
    padding: 8px;
  }

  ul {
    padding-left: 10px;
  }
}

@media (max-width: 576px) {
  .services {
    padding: 10px;
  }

  .services h2 {
    font-size: 20px;
  }

  .accordion-title {
    font-size: 14px;
    padding: 8px;
  }

  .accordion-content {
    padding: 8px;
  }

  ul {
    padding-left: 10px;
  }

  .accordion-content strong {
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }
}
